<!DOCTYPE html>
<html lang="pt-BR" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duozinho</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <header>
        <a href="/">
            <div class="logo">
                <span>duozinho</span>
                <img src="/images/logo.svg" alt="Logo" class="logo-icon">
            </div>
        </a>
        <nav>
            <a href="/">Home</a>
            <a href="/jogadores">Jogadores</a>
            <div class="actions">
                <button class="notification-btn">
                    <span class="material-symbols-outlined">notifications</span>
                </button>
                <a href="/perfil">
                    <span class="material-symbols-outlined">account_circle</span>
                </a>
                <button class="dark-mode-toggle">
                    <span class="material-symbols-outlined">dark_mode</span>
                </button>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Duozinho</h1>
            <p>Encontre Colegas para Jogar Online</p>
            <p>Descubra parceiros para suas partidas e aproveite ao máximo!</p>
            <a class="cta-btn" href="/cadastro">Junte-se Agora</a>
        </section>

        <section class="popular-games">
            <h2>Jogos Populares</h2>
            <div class="games-list">
                <img src="/images/backgrounds/cs_bg.jpg" alt="CSGO">
                <img src="/images/backgrounds/lol_bg.jpg" alt="League of Legends">
                <img src="/images/valorantIndex.jpg" alt="Valorant">
            </div>
        </section>
    </main>

    <footer>
        <a href="/">
            <div class="logo">
                <span>duozinho</span>
                <img src="/images/logo.svg" alt="Logo" class="logo-icon">
            </div>
        </a>
        <nav class="footer-nav">
            <a href="#">Contato</a>
            <a href="#">Termos de Uso</a>
            <a href="/sobre">Sobre</a>
        </nav>
        <p>&copy; 2025 Duozinho. Todos os direitos reservados</p>
    </footer>

    <script src="/js/theme-toggle.js"></script>
</body>

</html>